/*
    templates/html/messages/section/simple
    Created on : Oct 31, 2019, 11:40:48 AM
    Author     : Esteban Cabezudo
*/

.simpleStaticMessage {
  display: flex;
  justify-content: center;
  font-family: #{theme.fonts.sansSerif.name};
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  background-color: #{theme.application.color.ok};
  padding: 10px;
  transition: background-color 0.5s linear;
  align-content: center;
}

.simpleStaticMessage div {
  display: flex;
  align-items: center;
  text-align: center;
}

.simpleStaticMessage.error {
  background-color: #{theme.application.color.error};
}

.simpleStaticMessage.ok {
  background-color: #{theme.application.color.ok};
}

.simpleStaticMessage.message {
  background-color: #{theme.application.color.message};
}

