build/
manifest.mf
nbproject/
.jacocoverage/
/dist/
/system/sites
/system/sources/sites/**
!/system/sources/sites/manager
!/system/sources/sites/playground
sofia.configuration.properties
**/.DS_Store
varios/
sql.tests.txt
**/images/**/cache
nbactions.xml
/target/
nb-configuration.xml
