.addIcon, .backIcon, .editIcon, .menuIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  opacity: .6;
}

.addIcon {
  background-image: url(/images/icons/add.png);
}

.backIcon {
  background-image: url(/images/icons/arrowLeft.png);
}

.editIcon {
  background-image: url(/images/icons/edit.png);
}

.menuIcon {
  background-image: url(/images/icons/menu.png);
}