<style>
  #changePassword {
    padding: 10px;
    width: 100%;
  }

  #changePassword .form {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #changePassword .titleContainer {
    padding: 10px 0 20px 0;
  }

  #changePassword .otherOption {
    font-size: #{theme.caption.option.font.size.default};
    text-align: center;
  }

  #changePassword .footContainer {
    padding: 10px 0 20px 0;
    text-align: center;
  }

  #changePassword .title {
    font-family: '#{theme.caption.title.font.family}';
    font-size: #{theme.caption.title.font.size.default};
    font-weight: bold;
    color: #333;
    line-height: calc(#{theme.caption.title.font.size.default} + 10px);
    text-align: center;

  }
  #changePasswordMessageContainer {
    display: flex;
  }
  #changePasswordMessage {
    text-align: center;
    margin: 50px 30px;
    font-size: #{theme.caption.text.font.size.default};
  }

  @media all and ( min-width: 480px ) {
    #changePassword {
      width: 480px;
    }
    #changePasswordMessageContainer {
      text-align: center;
    }
    #changePasswordMessageContainer > div {
      width: 480px;
      text-align: center;
      margin: auto;
    }
  }
  @media all and ( min-width: 750px ) {
  }
  @media all and ( min-width: 1024px ) {
  }
  @media all and ( min-width: 1250px ) {
  }
  @media all and ( min-width: 1800px ) {
  }
</style>
<script>
  const loginForm = (() => {
    let changePasswordPasswordElement;
    let changePasswordRepeatPasswordElement;
    let changePasswordButton;
    let validPasswords = false;

    const changeAcceptButton = () => {
      if (validPasswords) {
        Core.trigger(changePasswordButton, 'enabled');
        Core.cleanMessagesContainer();
      } else {
        Core.trigger(changePasswordButton, 'disabled');
      }
    };

    const createGUI = () => {
      Core.show('changePasswordFormContainer');
      Core.hide('changePasswordMessageContainer');
      changePasswordPasswordElement = Core.validateById('changePasswordPassword');
      changePasswordRepeatPasswordElement = Core.validateById('changePasswordRepeatPassword');
      changePasswordButton = Core.validateById('changePasswordButton');

      inputPasswordPairValidator_1_00_00({
        element: changePasswordPasswordElement,
        repetitionElement: changePasswordRepeatPasswordElement,
        onValid: () => {
          validPasswords = true;
          changeAcceptButton();
        },
        onNotValid: () => {
          validPasswords = false;
          changeAcceptButton();
        },
        onKeyPress: event => {
          if (Core.isEnter(event)) {
            sendChangePasswordInformation();
          }
        }
      });

      greenButton_1_00_00({
        id: 'changePasswordButton',
        enabled: false,
        onClick: () => {
          sendChangePasswordInformation();
        },
        onResponse: event => {
          Core.screenBlocker.unblock({
            focus: changePasswordPasswordElement
          });
          const data = event.detail;
          if (data.status === 'OK') {
            Core.hide('changePasswordFormContainer');
            const message = Core.validateById('changePasswordMessage');
            message.innerHTML = data.message;
            Core.show('changePasswordMessageContainer');
          } else {
            Core.cleanMessagesContainer();
            Core.addMessage(data.messages[0]);
          }
        }
      });
      messages_1_00_00({
        id: 'changePasswordMessages'
      });
      const sendChangePasswordInformation = () => {
        Core.screenBlocker.block();
        const  password = changePasswordPasswordElement.value;
        const  repetitionPassword = changePasswordRepeatPasswordElement.value;
        const changePasswordButton = Core.validateById('changePasswordButton');
        const hash = window.location.search.substring(1);
        const messageId = Core.getNextMessageId();
        Core.sendPost(`/api/v1/users/${hash}/password`, changePasswordButton, messageId, {password: btoa(password), repetitionPassword: btoa(repetitionPassword.value)});
      };

      greenButton_1_00_00({
        id: 'changePasswordAcceptButton',
        onClick: () => {
          location.assign('#{afterChangePassword}');
        }
      });

      changePasswordPasswordElement.focus();
    };
    Core.addOnloadFunction(createGUI);
  })();

</script>
<div id="changePassword">
  <div id="changePasswordFormContainer" class="form">
    <div class="titleContainer">
      <div class="title">#{changePasswordTitle}</div>
    </div>
    <input id="changePasswordPassword" type="password" name="password" placeholder="contraseña">
    <input id="changePasswordRepeatPassword" type="password" name="repeatPassword" placeholder="repita la contraseña">
    <div id="changePasswordMessages"></div>
    <div id="changePasswordButton">Cambiar contraseña</div>
    <div class="footContainer">
    </div>
  </div>
  <div id="changePasswordMessageContainer">
    <div>
      <div id="changePasswordTitle" class="title">#{messageTitle}</div>
      <div id="changePasswordMessage">La contraseña se ha cambiado correctamente.</div>
      <div id="changePasswordAcceptButton">Aceptar</div>
    </div>
  </div>
</div>
