<style>
  #passwordRecovery {
    padding: 10px;
  }

  #passwordRecovery .form {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #passwordRecovery .titleContainer {
    padding: 10px 0 20px 0;
    text-align: center;
  }

  #passwordRecovery .footContainer {
    padding: 10px 0 20px 0;
    text-align: center;
  }

  #passwordRecovery .title {
    font-family: 'Facit';
    font-weight: bold;
    color: #333;
    font-size: 38px;
    line-height: 48px;
  }

  #passwordRecovery input {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 4px;
    background-color: rgba(197, 223, 255, .2);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgba(52,73,50,1);
    letter-spacing: 1px;
    -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1);
    outline: none;
    margin: 5px 0;
  }

  #passwordRecovery input:focus {
    border-color: rgb(175, 207, 245);
    background-color: white;
    box-shadow: 0 0 5px rgba(6, 92, 199, 1);
  }

  #passwordRecovery input::placeholder {
    color: #CCD2CB;
    opacity: 1; /* Firefox */
  }

  #passwordRecovery input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CCD2CB;
  }

  #passwordRecovery input::-ms-input-placeholder { /* Microsoft Edge */
    color: #CCD2CB;
  }

  @media all and ( min-width: 750px ) {
    #passwordRecovery  {
      width: 500px;
      margin: auto;
    }

    #passwordRecovery .title {
      font-size: 44px;
      line-height: 52px;
    }
  }
</style>
<script>
  const loginForm = (() => {
    let passwordRecoveryEMailElement;
    let passwordRecoveryAcceptButton;
    let validEMail = false;

    const changeAcceptButton = () => {
      if (validEMail) {
        Core.trigger(passwordRecoveryAcceptButton, 'enabled');
        Core.cleanMessagesContainer();
      } else {
        Core.trigger(passwordRecoveryAcceptButton, 'disabled');
      }
    };

    const createGUI = () => {
      passwordRecoveryEMailElement = Core.validateById('passwordRecoveryEMail');
      passwordRecoveryAcceptButton = Core.validateById('passwordRecoveryAcceptButton');

      inputEMailValidator_1_00_00({
        element: passwordRecoveryEMailElement,
        onValid: () => {
          validEMail = true;
          changeAcceptButton();
        },
        onNotValid: () => {
          validEMail = false;
          changeAcceptButton();
        },
        onKeyPress: event => {
          if (Core.isEnter(event)) {
            sendPasswordRecoveryInformation();
          }
        }
      });

      greenButton_1_00_00({
        id: 'passwordRecoveryAcceptButton',
        enabled: false,
        onClick: () => {
          sendPasswordRecoveryInformation();
        },
        onResponse: event => {
          const data = event.detail;
          if (data.type === 'EMAIL' && data.messages.length === 1) {
            if (data.messages[0].status === 'VALID') {
              location.assign(variables.afterPasswordRecovery);
            } else {
              Core.cleanMessagesContainer();
              Core.addMessage(data.messages[0]);
            }
          }
        }
      });
      messages_1_00_00({
        id: 'passwordRecoveryMessages'
      });
      const sendPasswordRecoveryInformation = () => {
        const  email = passwordRecoveryEMailElement.value;
        Core.sendGet(`/api/v1/users/${email}/password/recover`);
      };
      passwordRecoveryEMailElement.focus();
    };
    Core.addOnloadFunction(createGUI);
  })();

</script>
<div id="passwordRecovery">
  <div class="form">
    <div class="titleContainer">
      <div class="title">#{title}</div>
      <div>o&nbsp;<a href="register.html">crear una cuenta</a></div>
    </div>
    <input id="passwordRecoveryEMail" type="email" name="username" placeholder="correo electrónico">
    <div id="passwordRecoveryMessages"></div>
    <div id="passwordRecoveryAcceptButton">Recuperar contraseña</div>
    <div class="footContainer">
    </div>
  </div>
</div>
