/*
    Created on : May 12, 2021, 9:56:52 AM
    Author     : Esteban Cabezudo
*/

body, html {
  margin: 0;
  padding: 0;
}
body {
  opacity: 0;
  transition: opacity .2s;
  font-family: "#{theme.fonts.serif.name}";
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#application {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#mainSection {
  display: flex;
  width: 100%;
}
#mainContent {
  display: flex;
  flex-direction: column;
}
#article {
  margin: 10px 40px 50px;
}
#title {
  margin: 40px;
  font-size: 30px;
  text-align: center;
}
#languages {
  position: fixed;
  align-self: flex-end;
  background-color: red;
  margin: 10px;
}

@media all and ( min-width: 450px ) {
  #mainSection{
  }
  #mainContent {
    flex-direction: row;
    justify-content: flex-end;
  }
  #languages {
    align-self: flex-start;
  }
}

@media all and ( min-width: 750px ) {
  #mainSection {
  }
  #mainContent {
  }
}
