<!DOCTYPE html>
<html profiles="all">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso al sistema</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="js/variables.js"></script>
    <script src="js/login.js"></script>
    <script lib="core/0.1.0"></script>
    <script>
      const login = (() => {
        const createGUI = () => {
          Core.setMessagesContainer('messages');
        };
        Core.addOnloadFunction(createGUI);
      })();
    </script>
    <style>
    </style>
  </head>
  <body>
    <section id="application">
      <section id="header" template="headers/menu/simple/menu"></section>
      <section class="container">
        <section class="content">
          <h2 class="title">Access</h2>
          <section id="login" template="logins/simple/login"></section>
          <div class="linkContainer">
            <div class="link centered smallText">
              <a href="#{login.recoverPasswordPage}">recuperar contraseña</a>
            </div>
          </div>
        </section>
      </section>
      <section id="messages" template="messages/section/simple/message"></section>
      <section id="footer" file="footer.html"></section>
    </section>
  </body>
</html>