/*
    Created on : Oct 31, 2019, 11:40:48 AM
    Author     : Esteban Cabezudo
*/

.simpleStaticMessage {
  display: flex;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  font-weight: 400;
  background-color: #{theme.application.color.main};
  color: white;
  padding: 28px;
  transition: background-color 0.5s linear;
}

.simpleStaticMessage.red {
  background-color: #F7BAC9;
}

.simpleStaticMessage.green {
  background-color: #B8D6A4;
}
