/*
    Created on : Oct 31, 2019, 11:40:48 AM
    Author     : Esteban Cabezudo
*/

.simpleStaticMessage {
  display: flex;
  justify-content: center;
  font-family: #{theme.messages.ok.font.family};
  font-size: 18px;
  font-weight: 200;
  background-color: transparent;
  color: #{theme.messages.ok.font.color};
  padding: 4px;
  height: 24px;
  transition: background-color 0.5s linear;
}

.simpleStaticMessage div {
  display: flex;
  align-items: center;
}

.simpleStaticMessage.error {
  color: #{theme.messages.error.font.color};
}

.simpleStaticMessage.ok {
  color: #{theme.messages.ok.font.color};
}
