/*
    Created on : May 11, 2021, 9:56:52 AM
    Author     : Esteban Cabezudo
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}
body {
  opacity: 0;
  transition: opacity .2s;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#application {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(#{content.background.image.default});
  background-color: url(#{content.background.color});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  font-size: 26px;
  text-align: center;
  margin: auto;
}
#languages {
  position: fixed;
  align-self: flex-end;
  margin: 10px;
}

#messageContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#textContainer {
  display: flex;
  flex-direction: column;
  margin: #{content.text.margin.default};
  text-shadow: 1px 1px 4px white;
  justify-content: center;
}
#nameContainer {
  display: flex;
  justify-content: center;
}
#name {
  white-space: nowrap;
}
#ocupation {
  white-space: nowrap;
  margin: 6px;
  font-size: 12px;
}
.line{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line > div {
  background-color: white;
  width: 40px;
  margin: 0 10px;
  height: 1px;
}

@media all and ( min-width: 450px ) {
  #application {
    background-image: url(#{content.background.image.450});
  }
  #pageContainer {
    width: 60%;
  }
  #textContainer {
    margin: #{content.text.margin.450};
  }
}

@media all and ( min-width: 750px ) {
  #application {
    background-image: url(#{content.background.image.750});
  }
  #textContainer {
    margin: #{content.text.margin.750};
  }
}

@media all and ( min-width: 1024px ) {
  #application {
    background-image: url(#{content.background.image.1024});
  }
  #textContainer {
    margin: #{content.text.margin.1024};
  }
}
