<!DOCTYPE html>
<html profiles="all">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso al sistema</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script src="js/login.js"></script>
    <script>
      const login = (() => {
        const createGUI = () => {
        };
        Core.addOnloadFunction(createGUI);
      })();
    </script>
    <style>
    </style>
  </head>
  <body>
    <div class="fullScreen allCentered">
      <section id="login" template="logins/basic-login/login"></section>
    </div>
  </body>
</html>