<!DOCTYPE html>
<html profiles="all">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" type="text/css" href="css/passwordRecovery.css">
    <script src="js/passwordRecovery.js"></script>
    <script>
      const login = (() => {
        const createGUI = () => {
        };
        Core.addOnloadFunction(createGUI);
      })();
    </script>
    <style>
    </style>
  </head>
  <body>
    <section id="application">
      <section id="passwordRecovery" template="logins/basic-login/passwordRecovery"></section>
    </section>
  </body>
</html>