<!DOCTYPE html>
<html profiles="all">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso al sistema</title>
    <link rel="stylesheet" type="text/css" href="css/passwordRecovery.css">
    <script src="js/variables.js"></script>
    <script src="js/passwordRecovery.js"></script>
    <script lib="core/0.1.0"></script>
    <script>
      const passwordRecoveryPage = (() => {
        const createGUI = () => {
          Core.setMessagesContainer('messages');
        };
        Core.addOnloadFunction(createGUI);
      })();
    </script>
    <style>
      #passwordRecovery {
        display: flex;
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <section id="application" class="application">
      <section id="header" template="headers/menu/simple/menu"></section>
      <section class="container">
        <section class="content">
          <section id="passwordRecovery" template="logins/simple/passwordRecovery"></section>
        </section>
      </section>
      <section id="messages" template="messages/section/simple/message"></section>
      <section id="footer" file="footer.html"></section>
    </section>
  </body>
</html>