<!DOCTYPE html>
<html>
  <head>
    <title>Recuperación de contraseña</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div style="margin: auto; width: 480px;">
      <div style="background-color: #0022AA; width: 100%; height:60px; text-align: center; font-size: 24px; font-weight: bold; line-height: 60px; color: white; border-radius: 15px 15px 0 0">#{site.name}</div>
      <div style="padding: 10px; border: 1px solid #0022AA; border-radius:  0 0 15px 15px">
        <p>Hola #{name}.</p>
        <p></p>
        <p>Hemos recibido una solicitud para reiniciar su contraseña para la cuenta de #{site.name}. Si no ha hecho esta solicitud puede con toda tranquilidad ignorar este mensaje. Su cuenta continuará segura y su actual contraseña no se cambiará.</p>
        <p>Para reiniciar su contraseña, simplemente siga <a href="#{password.change.uri}" style="color: #0022AA; text-decoration: none;">este enlace</a>.</p>
        <p>Este enlace expira en expira en #{password.change.hash.time} minutos. Si es necesario puede solicitarlo nuevamente.</p>
        <p></p>
        <p>Gracias.</p>
        <p>El equipo de #{site.name}.</p>
        <p>#{site.uri}</p>
      </div>
    </div>
  </body>
</html>
