<style>
  #login {
    padding: 10px;
    width: 100%;
  }

  #login .form {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #login .titleContainer {
    padding: 10px 0 20px 0;
  }

  #login .otherOption {
    font-size: #{theme.caption.option.font.size.default};
    text-align: center;
  }

  #login .footContainer {
    padding: 10px 0 20px 0;
    text-align: center;
  }

  #loginMessageContainer {
    display: flex;
  }
  #loginMessage {
    text-align: center;
    margin: 50px 30px;
  }
  #loginMessage {
    font-size: #{theme.caption.text.font.size.default};
  }

  @media all and ( min-width: 480px ) {
    #login {
      width: 480px;
    }
    #loginMessageContainer {
      text-align: center;
    }
    #loginMessageContainer > div {
      width: 480px;
      text-align: center;
      margin: auto;
    }
  }
  @media all and ( min-width: 750px ) {
  }
  @media all and ( min-width: 1024px ) {
  }
  @media all and ( min-width: 1250px ) {
  }
  @media all and ( min-width: 1800px ) {
  }
</style>
<script lib="inputEMailValidator/0.1.0"></script>
<script lib="inputPasswordValidator/0.1.0"></script>
<script lib="button/0.1.0"></script>
<script lib="simpleStaticMessages/0.1.0"></script>
<script>
  const loginForm = (() => {
    let loginEMailElement;
    let loginPasswordElement;
    let loginButton;
    let validEMail = false;
    let passwordValid = false;

    const changeAcceptButton = () => {
      if (validEMail && passwordValid) {
        Core.trigger(loginButton, 'enabled');
      } else {
        Core.trigger(loginButton, 'disabled');
      }
    };

    const createGUI = () => {
      loginEMailElement = Core.validateById('loginEMail');
      loginPasswordElement = Core.validateById('loginPassword');
      loginButton = Core.validateById('loginButton');

      inputEMailValidator({
        element: loginEMailElement,
        onValid: () => {
          validEMail = true;
          changeAcceptButton();
        },
        onNotValid: () => {
          validEMail = false;
          changeAcceptButton();
        },
        onKeyPress: event => {
          if (Core.isEnter(event)) {
            sendLoginInformation();
          }
        }
      });

      inputPasswordValidator({
        element: loginPasswordElement,
        onValid: () => {
          passwordValid = true;
          changeAcceptButton();
        },
        onNotValid: () => {
          passwordValid = false;
          changeAcceptButton();
        },
        onKeyPress: event => {
          if (Core.isEnter(event)) {
            sendLoginInformation();
          }
        }
      });

      greenButton({
        id: 'loginButton',
        enabled: false,
        onClick: () => {
          sendLoginInformation();
        },
        onResponse: event => {
          const payload = event.detail;
          if (payload.status === 'LOGGED') {
            if (variables.comebackPage === null) {
              location.assign('#{afterLoginSucessfullPage}');
            } else {
              location.assign(variables.comebackPage);
            }
          } else {
            Core.showMessage({status: 'ERROR', message: payload.message});
          }
        }
      });
      const sendLoginInformation = () => {
        const formObject = {
          email: loginEMailElement.value,
          password: btoa(loginPasswordElement.value)
        };
        Core.sendPost(`/api/v1/users/login`, loginButton, formObject);
      };
      loginEMailElement.focus();
    };
    Core.addOnloadFunction(createGUI);
  })();

</script>
<div id="loginFormContainer" class="form">
  <div class="createAccount"><a href="register.html">crear una cuenta</a></div>
  <input id="loginEMail" type="email" name="username" placeholder="correo electrónico" autocomplete="off">
  <input id="loginPassword" type="password" name="password" placeholder="contraseña">
  <div id="loginButton">Acceder</div>
  <div class="footContainer">
    <div class="otherOption">o&nbsp;<a href="#{recoverPasswordPage}">recuperar contraseña</a></div>
  </div>
</div>
