<style>
  #passwordRecoverySentMessageElement {
    align-self: center;
  }
  #passwordRecoverySentMessageMessageText {
    font-size: 28px;
    text-align: center;
  }

  @media all and ( min-width: 480px ) {
  }
  @media all and ( min-width: 750px ) {
  }
  @media all and ( min-width: 1024px ) {
  }
  @media all and ( min-width: 1250px ) {
  }
  @media all and ( min-width: 1800px ) {
  }
</style>
<script lib="inputEMailValidator/0.1.0"></script>
<script lib="button/0.1.0"></script>
<script>
  const passwordRecoveryForm = (() => {
    let passwordRecoveryEMailElement;
    let passwordRecoveryButton;
    let validEMail = false;

    const createGUI = () => {
      passwordRecoveryEMailElement = Core.validateById('eMail');
      passwordRecoveryButton = Core.validateById('passwordRecoveryButton');

      const refreshView = () => {
        if (validEMail === true) {
          Core.trigger(passwordRecoveryButton, 'enabled');
        } else {
          Core.trigger(passwordRecoveryButton, 'disabled');
        }
      };

      const showPasswordRecoverySentMessage = () => {
        const passwordRecoverySentMessageText = document.getElementById('passwordRecoverySentMessageMessageText');
        passwordRecoverySentMessageText.innerHTML = `An eMail to was sent to ${passwordRecoveryEMailElement.value} with a link to to set a new password.`;
        Core.hide('passwordRecoveryEMailInput');
        Core.show('passwordRecoverySentMessageElement');
      };

      inputEMailValidator({
        element: passwordRecoveryEMailElement,
        onValid: () => {
          validEMail = true;
          refreshView();
        },
        onNotValid: () => {
          validEMail = false;
          refreshView();
        },
        onKeyPress: event => {
          if (Core.isEnter(event)) {
            sendPasswordRecoveryInformation();
          }
          refreshView();
        }
      });

      greenButton({
        element: passwordRecoveryButton,
        enabled: false,
        onClick: () => {
          sendPasswordRecoveryInformation();
        },
        onResponse: event => {
          Core.screenBlocker.unblock({
            focus: passwordRecoveryEMailElement
          });
          const detail = event.detail;
          if (detail.status === 'OK') {
            showPasswordRecoverySentMessage();
          } else {
            Core.showMessage({status: 'ERROR', message: detail.message});
          }
        }
      });
      const sendPasswordRecoveryInformation = () => {
        Core.screenBlocker.block();
        const  email = passwordRecoveryEMailElement.value;
        Core.sendGet(`/api/v1/users/${email}/password/recover`, passwordRecoveryButton);
      };
      passwordRecoveryEMailElement.focus();
    };
    Core.addOnloadFunction(createGUI);
  })();

</script>
<div id="passwordRecoveryEMailInput">
  <h2 class="title">Password recovery</h2>
  <div class="field"><input id="eMail" type="email" name="username" placeholder="correo electrónico"></div>
  <div class="field centered">
    <div id="passwordRecoveryButton">recover</div>
  </div>
</div>
<div id="passwordRecoverySentMessageElement">
  <div id="passwordRecoverySentMessageMessageText"></div>
</div>