<style>
  #passwordRecovery {
    padding: 10px;
    width: 100%;
  }

  #passwordRecovery .form {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #passwordRecovery .titleContainer {
    padding: 10px 0 20px 0;
  }

  #passwordRecovery .otherOption {
    font-size: #{theme.caption.option.font.size.default};
    text-align: center;
  }

  #passwordRecovery .footContainer {
    padding: 10px 0 20px 0;
    text-align: center;
  }

  #passwordRecovery .title {
    font-family: '#{theme.caption.title.font.family}';
    font-size: #{theme.caption.title.font.size.default};
    font-weight: bold;
    color: #333;
    line-height: calc(#{theme.caption.title.font.size.default} + 10px);
    text-align: center;

  }
  #passwordRecoveryMessageContainer {
    display: flex;
  }
  #passwordRecoveryMessage {
    text-align: center;
    margin: 50px 30px;
    font-size: #{theme.caption.text.font.size.default};
  }

  @media all and ( min-width: 480px ) {
    #passwordRecovery {
      width: 480px;
    }
    #passwordRecoveryMessageContainer {
      text-align: center;
    }
    #passwordRecoveryMessageContainer > div {
      width: 480px;
      text-align: center;
      margin: auto;
    }
  }
  @media all and ( min-width: 750px ) {
  }
  @media all and ( min-width: 1024px ) {
  }
  @media all and ( min-width: 1250px ) {
  }
  @media all and ( min-width: 1800px ) {
  }
</style>
<script lib="inputEMailValidator"></script>
<script lib="button"></script>
<script lib="messages"></script>
<script>
  const loginForm = (() => {
    let passwordRecoveryEMailElement;
    let passwordRecoverySendButton;
    let validEMail = false;

    const changeAcceptButton = () => {
      if (validEMail) {
        Core.trigger(passwordRecoverySendButton, 'enabled');
      } else {
        Core.trigger(passwordRecoverySendButton, 'disabled');
      }
    };

    const createGUI = () => {
      Core.show('passwordRecoveryFormContainer');
      Core.hide('passwordRecoveryMessageContainer');
      passwordRecoveryEMailElement = Core.validateById('passwordRecoveryEMail');
      passwordRecoverySendButton = Core.validateById('passwordRecoverySendButton');

      inputEMailValidator({
        element: passwordRecoveryEMailElement,
        onValid: () => {
          validEMail = true;
          changeAcceptButton();
        },
        onNotValid: () => {
          validEMail = false;
          changeAcceptButton();
        },
        onKeyPress: event => {
          if (Core.isEnter(event)) {
            sendPasswordRecoveryInformation();
          }
        }
      });

      greenButton({
        id: 'passwordRecoverySendButton',
        enabled: false,
        onClick: () => {
          sendPasswordRecoveryInformation();
        },
        onResponse: event => {
          Core.screenBlocker.unblock({
            focus: passwordRecoveryEMailElement
          });
          const data = event.detail;
          if (data.status === 'OK') {
            Core.hide('passwordRecoveryFormContainer');
            const message = Core.validateById('passwordRecoveryMessage');
            message.innerHTML = data.message;
            Core.show('passwordRecoveryMessageContainer');
          } else {
            Core.cleanMessagesContainer();
            Core.showMessage(data.messages[0]);
          }
        }
      });
      messages({
        id: 'passwordRecoveryMessages'
      });
      const sendPasswordRecoveryInformation = () => {
        Core.screenBlocker.block();
        const  email = passwordRecoveryEMailElement.value;
        const passwordRecoverySendButton = Core.validateById('passwordRecoverySendButton');
        Core.sendGet(`/api/v1/users/${email}/password/recover`, passwordRecoverySendButton);
      };

      greenButton({
        id: 'passwordRecoveryAcceptButton',
        onClick: () => {
          location.assign('#{afterPasswordRecoverySent}');
        }
      });

      passwordRecoveryEMailElement.focus();
    };
    Core.addOnloadFunction(createGUI);
  })();

</script>
<div id="passwordRecovery">
  <div id="passwordRecoveryFormContainer" class="form">
    <div class="titleContainer">
      <div class="title">#{passwordRecoveryTitle}</div>
      <div class="otherOption">o&nbsp;<a href="register.html">crear una cuenta</a></div>
    </div>
    <input id="passwordRecoveryEMail" type="email" name="username" placeholder="correo electrónico">
    <div id="passwordRecoveryMessages"></div>
    <div id="passwordRecoverySendButton">Recuperar contraseña</div>
    <div class="footContainer">
    </div>
  </div>
  <div id="passwordRecoveryMessageContainer">
    <div>
      <div id="passwordRecoveryTitle" class="title">#{messageTitle}</div>
      <div id="passwordRecoveryMessage">Este es un mensaje de prueba para centrar el texto de este mensaje.</div>
      <div id="passwordRecoveryAcceptButton">Aceptar</div>
    </div>
  </div>
</div>
